/* Full screen overlay */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6EEE2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* FaHome pulsing animation */
/* Logo loader */
.loader-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  animation: pulse 1s infinite alternate ease-in-out;
}


@keyframes pulse {
  0% { transform: scale(1); opacity: 0.7; }
  50% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); opacity: 0.7; }
}
